body{
    background-color: lightgray;
}
.container{
    background-color: lightgreen;
    margin-right: 800px;
    margin-left: 50px;
}
.princes{
    text-align: left;
    color: hwb(332 12% 18%);
    margin-left: 100px;
    margin-top: 100px;
}
.para{
    margin-left: 10px;
    text-align: center;
}
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #272cd1;
  margin-left: 120px;
}
.button1:hover {
  background-color: #261ad5;
  color: white;
}
.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid hsl(147, 83%, 43%);
}
.button2:hover {
  background-color: #04AA6D;
  color: white;
}
.button{
    background-color: white;
    color: black;
    border: solid green;
}

.images{
height: 200px;
width: 200px;
margin-left: 100px;
}
